@import "~@mhp/tokens/dist/scss/_typography.scss";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito+Sans:wght@400;700;800&display=swap');

.title {
  font-size: $font-title-font-size;
  font-family: $font-title-font-family;
  font-weight: $font-title-font-weight;
  letter-spacing: $font-title-letter-spacing;
  line-height: $font-title-line-height;
  border-spacing: $font-title-paragraph-spacing;
  text-decoration: $font-title-text-decoration;
  font-style: $font-title-font-style;
  font-stretch: $font-title-font-stretch;
  text-indent: $font-title-paragraph-indent;

  &--bold {
    font-size: $font-title-fatface-font-size;
    font-family: $font-title-fatface-font-family;
    font-weight: $font-title-fatface-font-weight;
    letter-spacing: $font-title-fatface-letter-spacing;
    line-height: $font-title-fatface-line-height;
    border-spacing: $font-title-fatface-paragraph-spacing;
    text-decoration: $font-title-fatface-text-decoration;
    font-style: $font-title-fatface-font-style;
    font-stretch: $font-title-fatface-font-stretch;
    text-indent: $font-title-fatface-paragraph-indent;
  }
}
.subtitle {
   font-size: $font-subtitle-font-size;
   font-family: $font-subtitle-font-family;
   font-weight: $font-subtitle-font-weight;
   letter-spacing: $font-subtitle-letter-spacing;
   line-height: $font-subtitle-line-height;
   border-spacing: $font-subtitle-paragraph-spacing;
   text-decoration: $font-subtitle-text-decoration;
   font-style: $font-subtitle-font-style;
   font-stretch: $font-subtitle-font-stretch;
   text-indent: $font-subtitle-paragraph-indent;
}

.text {
  &__md {
    font-size: $font-text-base-regular-font-size;
    font-family: $font-text-base-regular-font-family;
    font-weight: $font-text-base-regular-font-weight;
    letter-spacing: $font-text-base-regular-letter-spacing;
    line-height: $font-text-base-regular-line-height;
    border-spacing: $font-text-base-regular-paragraph-spacing;
    text-decoration: $font-text-base-regular-text-decoration;
    font-style: $font-text-base-regular-font-style;
    font-stretch: $font-text-base-regular-font-stretch;
    text-indent: $font-text-base-regular-paragraph-indent;

    &--bold {
      font-size: $font-text-base-bold-font-size;
      font-family: $font-text-base-bold-font-family;
      font-weight: $font-text-base-bold-font-weight;
      letter-spacing: $font-text-base-bold-letter-spacing;
      line-height: $font-text-base-bold-line-height;
      border-spacing: $font-text-base-bold-paragraph-spacing;
      text-decoration: $font-text-base-bold-text-decoration;
      font-style: $font-text-base-bold-font-style;
      font-stretch: $font-text-base-bold-font-stretch;
      text-indent: $font-text-base-bold-paragraph-indent;
    }
  }
  &__sm {
    font-size: $font-texte-small-regular-font-size;
    font-family: $font-texte-small-regular-font-family;
    font-weight: $font-texte-small-regular-font-weight;
    letter-spacing: $font-texte-small-regular-letter-spacing;
    line-height: $font-texte-small-regular-line-height;
    border-spacing: $font-texte-small-regular-paragraph-spacing;
    text-decoration: $font-texte-small-regular-text-decoration;
    font-style: $font-texte-small-regular-font-style;
    font-stretch: $font-texte-small-regular-font-stretch;
    text-indent: $font-texte-small-regular-paragraph-indent;

    &--bold {
      font-size: $font-texte-small-bold-font-size;
      font-family: $font-texte-small-bold-font-family;
      font-weight: $font-texte-small-bold-font-weight;
      letter-spacing: $font-texte-small-bold-letter-spacing;
      line-height: $font-texte-small-bold-line-height;
      border-spacing: $font-texte-small-bold-paragraph-spacing;
      text-decoration: $font-texte-small-bold-text-decoration;
      font-style: $font-texte-small-bold-font-style;
      font-stretch: $font-texte-small-bold-font-stretch;
      text-indent: $font-texte-small-bold-paragraph-indent;
    }
  }
}
