
.icon-plus:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e804'; } /* '' */
.icon-person:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
